<div ng-controller="OnlyDayInfoController">
    <div class="wrapper-md p-t-none p-b-none m-t">
        <div class="panel panel-default r-3x">
            <div class="panel-heading r-3x r-b-none bg-main2 text-center">
                <span class="font-normal">One and Only Day Preview</span>
            </div>

            <div class="bg-white padder r-b-6x" ng-scrollbars ng-scrollbars-config="scrollconfig">
                <div class="row m-t m-b">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-b" ng-if="(oneandonly.user == user.id) && !oneandonly.is_admin">
                        <div class="pull-right dist-ico">
                            <img class="m-r-xs" src="img/edit.png" ng-click="editOnlyDay();">
                            <img src="img/delete.png" ng-click="removeOnlyDay()">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 wrapper-md p-t-none m-t-sm  m-p-n">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 p-l-none p-r-none">
                                <div class="m-b-sm">
                                    <a class="h5 font-bold text-black">{{oneandonly.title}}</a>
                                </div>
                                <div class="mbit-img box-shadow b cursor cover-img" background-image="{{IMGURL}}{{oneandonly.cover_image}}" ng-click="showCover(oneandonly.cover_image)">
                                    <div class="overlay">
                                        <a class="icon-overlay">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-none">
                                <div class="m-b-sm">
                                    <a class="h5 font-bold text-black">Content</a>
                                </div>
                                <div class="m-b-sm">
                                    <p class="pre-wrap" ng-bind-html="oneandonly.description"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t m-p-n" ng-if="oneandonly.document_links.length  > 0">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-none m-p-n">
                        <div class="m-b-sm">
                           <a class="h5 font-bold text-black">External Links</a>
                        </div>
                        <h5 ng-repeat="(key,link) in oneandonly.document_links">
                            <a class="h3 font-bold text-black" ng-href="{{link.link}}" target="_blank" tooltip="{{link.info}}" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-class="preview-tooltip"><span class="text-info font-normal text-sm">{{link.name}}</span></a>
                        </h5>
                     </div>
                  </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 wrapper-md p-t-none m-t-sm  m-p-n">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="oneandonly.videocount > 0 || oneandonly.video_links.length > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Watch Videos</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-sm p-l-none  m-p-n" ng-repeat="(key,data) in oneandonly.item_files" ng-if="data.filetype == 'video'">
                                <div class="mbit-img box-shadow b pos-rlt cursor" ng-click="openFiles(key,oneandonly.item_files,oneandonly.video_links)">
                                    <video width="100%" height="100%" controls>
                                        <source ng-src="{{getVideoUrl(data.file)}}" type="video/{{data.file.substr(data.file.length - 3)}}">
                                    </video>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-sm p-l-none  m-p-n" ng-repeat="(key,data) in oneandonly.video_links" tooltip="{{data.info}}" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-class="preview-tooltip">
                                <div class="mbit-img box-shadow b pos-rlt cursor"  ng-click="openFiles(key,oneandonly.item_files,oneandonly.video_links)">
                                    <anguvideo ng-model="data.link" width="100%" height="100%" hideControls></anguvideo>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  m-p-n" ng-if="oneandonly.imagecount > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Images</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-b-sm p-l-none  m-p-n"  ng-repeat="(key,data) in mediafiles.images">
                                <div class="mbit-img box-shadow b pos-rlt cursor cover-img"  ng-click="openFiles(key,mediafiles.images)">
                                    <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{data.file}}">
                                        <div class="overlay">
                                        <a class="icon-overlay">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="oneandonly.item_documents.length > 0">
                            <div class="m-b-sm m-t-sm">
                                <a class="h5 font-bold text-black">Documents</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b p-l-none m-p-n" ng-repeat="(key,data) in oneandonly.item_documents">
                                <a class="btn btn-default r-2x padd-xs min-w-60" ng-href="{{IMGURL}}{{data.file}}" target="_blank" tooltip="{{data.info}}" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-class="preview-tooltip">{{data.name}}</a>
                                <a class="btn btn-warning r-2x padd-xs" ng-href="{{IMGURL}}{{data.file}}" download="{{data.file.split('/').pop()}}" target="_blank"><i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>