<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardCtrl">
   <!-- main -->
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t p-l-none m-b">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 m-t p-l-none m-b">
         <div class="panel panel-default r-3x m-l mebit-whatsnew">
            <div class="panel-heading r-3x r-b-none bg-main4 text-center font-bold">
               What's New
            </div>
            <div class="bg-white padder-v padder r-b-6x m-b" ng-scrollbars ng-scrollbars-config="scrollconfig">
               <div class="col-xs-12 p-l-none p-r-none">
                  <div class="m-t m-b">
                     <div class="col-sm-3 p-l-none p-xs-l">
                        <div class="bg-main3 text-center h5 sm-padder-v sm-padder">Category</div>
                     </div>
                     <div class="col-sm-2">
                        <div class="bg-main3 text-center h5 sm-padder-v sm-padder">Time</div>
                     </div>
                     <div class="col-sm-5">
                        <div class="bg-main3 text-center h5 sm-padder-v sm-padder">Title</div>
                     </div>
                     <div class="col-sm-2 p-r-none p-xs-r">
                        <div class="bg-main3 text-center h5 sm-padder-v sm-padder">Written by</div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 p-l-none p-r-none border-bottom-1"
                  ng-repeat="(key,whatsnew) in homeData.whatsnew | limitTo: 8">
                  <div class="m-t-xs m-b-xs">
                     <div class="col-sm-3 p-l-none">
                        <div class="text-left h5 sm-padder-v sm-padder color_4">
                           <strong>
                              <img class="new-icon" src="img/new.png" ng-if="key < 3" />
                              <span ng-class="{'pad-left-30px': key < 3}" ng-if="whatsnew.whatsnew_type == 2">MEBIT
                                 Event</span>
                              <span ng-class="{'pad-left-30px': key < 3}"
                                 ng-if="whatsnew.whatsnew_type == 3">{{ whatsnew.typeData.type }}</span>
                           </strong>
                           <div class="clear"></div>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="text-left h5 sm-padder-v sm-padder color_3 f-10 m-t-xs">
                           {{convertDate(whatsnew.created_at) | date:'dd-MMM-yy HH:mm'}}
                        </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="text-left h5 font-bold sm-padder-v sm-padder cursor" ng-click="viewItem(whatsnew)">
                           {{whatsnew.title}}
                        </div>
                     </div>
                     <div class="col-sm-2 p-r-none">
                        <div class="text-left h5 sm-padder-v sm-padder color_4">
                           <strong>
                              <span ng-if="whatsnew.whatsnew_type == 2">{{whatsnew.ownerprofile.username}}</span>
                              <span
                                 ng-if="whatsnew.whatsnew_type == 3">{{whatsnew.writerinfo ? whatsnew.writerinfo.name : (whatsnew.is_admin ? whatsnew.ownerprofile.username + '(Admin)' : whatsnew.ownerprofile.first_name + ' ' + whatsnew.ownerprofile.last_name + ' - ' + whatsnew.ownerprofile.distributorinfo.name)}}</span>
                           </strong>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-t m-b" ng-if="!loading">
         <div class="panel panel-default r-3x newcalendar">
            <div class="panel-heading r-3x r-b-none bg-main4 text-center font-bold">
               Calendar
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white r-b-6x ">
               <div class="calendar " ng-model="eventSources" config="uiConfig.calendar"
                  ui-calendar="uiConfig.calendar"></div>
            </div>
            <!-- <div class="col-sm-12 text-center">
               <button class="btn btn-lg bg-main3 m-md r-3x text-xs box_shade btn_pad" ng-click="openDoc('docs/MEBIT-Total-Programs-Rough-schedule.pdf');">MEBIT overall schedule</button>
            </div> -->
         </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 m-b" ng-if="!loading">
         <div class="panel panel-default r-3x newcalendar">
            <div class="panel-heading r-3x r-b-none bg-main4 text-center font-bold">
               From Distributor
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white r-b-6x padder-v ">
               <div class="row">
                  <div class="col-sm-12 ">
                     <ng-include src="'img/svg/distributor-all.svg'" class="svg-container d_b m-t-xs"></ng-include>
                  </div>
                  <!-- <div class="col-sm-6 m-t-xxl">
                     <div class="m-t-lg text-center pos-rlt">
                        <div class="pos-abt vt_center">
                           <div class="col-sm-12">
                              <button class="btn btn-block bg-main3  m-b-lg r-3x text-xs p-l p-r box_shade btn_pad" ui-sref="app.kaizens({type:'4'})">Bit Foundation</button>
                           </div>
                           <div class="col-sm-12">
                              <button class="btn btn-block  bg-main4 m-t-lg r-3x text-xs p-l p-r box_shade btn_pad">Organization</button>
                           </div>
                        </div>
                     </div>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b" ng-if="!loading">
         <div class="panel panel-default r-3x newcalendar">
            <div class="panel-heading r-3x r-b-none black text-center font-bold">
               From TMC
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 bg-white r-b-6x padder-v  text-center">

               <ng-include src="'img/svg/tmc-all.svg'" class="svg-container d_b m-t-xs"></ng-include>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="PopupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      data-backdrop="static" data-keyboard="false" data-modalFade="true">
      <div class="modal-dialog" role="document" style="width: 50%;">
         <div class="modal-content">
            <div class="modal-header bg-main3 b-no text-center">
               <button type="button" class="close" ng-click="closeModal();" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">{{formData.title}}</h4>
            </div>
            <div class="modal-body wrapper-lg">
               <div class="row m-b-sm">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                     <div class="mbit-img box-shadow b" background-image="{{IMGURL}}{{formData.cover_image}}"></div>
                  </div>
               </div>
               <div class="row m-t-sm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <p>{{formData.description}}</p>
                  </div>
               </div>
               <div class="row m-t-sm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <a class="btn btn-default btn-xs btn-danger r-2x read_more pull-left text-u-c cursor"
                        ng-href="{{formData.doc_link}}" target="_blank">View Document</a>
                  </div>
               </div>
            </div>
            <div class="modal-footer text-center b-no">
               <div class="col-xs-12 text-center">
                  <button type="button" class="btn btn-primary no-border m-auto bg-main4 w-xs" ng-click="closeModal()"
                     ng-disabled="loading">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="EventInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      data-backdrop="static" data-keyboard="false" data-modalFade="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-main3 b-no text-center">
               <button type="button" class="close" ng-click="closeModal();" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">{{formData.title}}</h4>
            </div>
            <div class="modal-body wrapper-lg">
               <div class="row m-t-sm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <p>{{formData.info}}</p>
                  </div>
               </div>
               <div class="row m-t-sm">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="formData.caleventInfo.type < 4">
                     <a class="btn btn-default btn-xs btn-danger r-2x read_more pull-left text-u-c cursor"
                        ng-click="viewEvent()" target="_blank">
                        Goto
                        {{ (formData.caleventInfo.type == '1' ? 'Event' : formData.caleventInfo.type == '2' ? 'TBP' : (formData.caleventInfo.type == '3' ? 'Report' : formData.caleventInfo.type)) }}
                     </a>
                  </div>
               </div>
            </div>
            <div class="modal-footer text-center b-no">
               <div class="col-xs-12 text-center">
                  <button type="button" class="btn btn-primary no-border m-auto bg-main4 w-xs" ng-click="closeModal()"
                     ng-disabled="loading">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>