<div ng-controller="CalendarCtrl">
    <div class="wrapper-md p-t-none p-b-none m-t flex calendar-page">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto m-p-n">
            <div class="panel panel-default r-3x">
                <div class="panel-heading r-3x r-b-none bg-main2 text-center wrapper-sm">
                    <span class="h5 font-bold">Calendar</span>
                </div>
                <div class="bg-white padder r-b-6x">
                    <div class=" row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-p-n">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 " ng-if="!loading">
                                <div class="calendar " ng-model="eventSources" config="uiConfig.calendar"
                                    ui-calendar="uiConfig.calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PopupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        data-backdrop="static" data-keyboard="false" data-modalFade="true">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content m-p-r m-p-l" ng-class="{'wrapper-xl' : !isMobile}">
                <div class="modal-header b-no text-center">
                    <button type="button" class="close" ng-click="closeModal();" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-if="showList">Event List ({{activeDate | date:'dd MMMM
                        yyyy'}})</h4>
                </div>
                <div class="modal-body" ng-scrollbars ng-scrollbars-config="scrollconfig"
                    ng-scrollbars-update="updateScrollbar">
                    <div class="table-Data">
                        <div class="panel panel-default">
                            <div class="table-responsive overx-visible">
                                <table class="table table-striped b-t">
                                    <thead>
                                        <tr>
                                            <th class="text-left">#</th>
                                            <th class="text-center">Title</th>
                                            <th class="text-left">Description</th>
                                            <th class="text-left">Start Date</th>
                                            <th class="text-left">End Date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,data) in calenderevents">
                                            <td class="text-left">{{ key + 1}}</td>
                                            <td class="text-center">{{::data.title}}</td>
                                            <td class="text-left">{{ data.description | cut:true:50:'' }}</td>
                                            <td class="text-center">{{ convertDate(data.start_date) | date:'dd-MM-yy' }}
                                            </td>
                                            <td class="text-center">{{ data.end_date ? (convertDate(data.end_date) |
                                                date:'dd-MM-yy') : ' - ' }}</td>
                                            <td class="text-center">
                                                <button class="btn m-b-xs btn-sm btn-info btn-addon text-capt"
                                                    ng-click="gotoItem(data.event_type,data.id)"><i
                                                        class="fa fa-chevron-right"></i>Goto
                                                    {{data.event_type}}</button>
                                            </td>
                                        </tr>
                                        <tr ng-if="calenderevents.length == 0 && !loading">
                                            <td colspan="6" class="text-center">Sorry No Records</td>
                                        </tr>
                                        <tr ng-if="loading">
                                            <td colspan="6" class="loadingcss" ng-if="executives.length==0"
                                                button-spinner="loading">{{loadingMsg}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center b-no">
                    <div class="col-xs-12 text-center">
                        <button type="button" ng-click="closeModal();"
                            class="btn btn-primary no-border m-auto bg-main1 w-xs">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>