<div class="hbox hbox-auto-xs hbox-auto-sm SGACtrl" ng-controller="SGACtrl">
    <!-- main -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-xs p-l-none ">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-t p-l-none m-p-r-none whatsup">
            <div class="panel panel-default r-3x m-l">
                <div class="panel-heading r-3x r-b-none bg-main2 text-center font-bold">
                    What's New <a class="btn btn-default btn-xs color_2 pull-right b-no newbtn"
                        ng-click="ModalOpen('postModal','PostModalController');">New Post</a>
                </div>
                <div class="col-xs-12 bg-white padder-v padder r-b-6x d_i_b" ng-scrollbars
                    ng-scrollbars-config="scrollconfig">
                    <div class="col-xs-12 p-l-none p-r-none border-bottom-1 m-b-xs"
                        ng-repeat="(key,whatsnew) in SGAData.whats_new">
                        <div class="col-sm-3 p-l-none m-p-r-none">
                            <div class="text-left f12 sm-padder-v sm-padder color_2">
                                {{ whatsnew.distributorinfo.name | cut:true:5:' ' }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="text-left h5 sm-padder-v sm-padder color_3 f-10 m-t-xs">
                                {{convertDate(whatsnew.created_at) | date:'dd MMMM yyyy'}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-left f12 sm-padder-v sm-padder cursor text-ov"
                                ng-click="viewItem(whatsnew)">
                                {{whatsnew.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-t m-p-r-none">
            <div>
                <div class="panel panel-default r-3x ">
                    <div class="panel-heading r-3x r-b-none bg-main2 text-center font-bold text-left">
                        SGA Schedule
                    </div>
                    <div class="panel-body">
                        <div class="r-b-6x">
                            <div class="col-xs-12 no-padder">
                                <img class="img-responsive sga_img" src="img/calc.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-xs p-l-none ">
        <div class="block padder-v item">
            <div class="panel panel-default r-3x m-l bg-white">
                <div class="panel-body wrapper">
                    <canvas id="bar" class="chart chart-bar" chart-data="SGAData.values" chart-labels="SGAData.labels"
                        chart-series="series" height="350px" chart-options="baroptions" chart-colors="SGAData.colors"  chart="mychart">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-xs p-l-none p-r-none m-b">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-t-xs m-b"
                ng-repeat="(key,distributor) in SGAData.distributors">
                <div class="panel panel-default r-3x m-l">
                    <div class="panel-heading r-3x r-b-none bg-main2 text-center font-bold bg_greean">
                        {{distributor.name}}
                    </div>
                    <div class="col-xs-12 bg-white padder-v padder r-b-6x d_i_b max_height_box" ng-scrollbars
                        ng-scrollbars-config="scrollconfig">
                        <div class="col-xs-12 p-l-none p-r-none border-bottom-1 m-b-xs"
                            ng-repeat="(no,post) in distributor.posts">
                            <div class="f-10 color_2"> {{convertDate(post.created_at) | date:'dd MMMM yyyy'}}
                                <!-- <div class="pull-right dist-ico">
                                    <img class="m-r-xs" src="img/edit.png" ng-click="editHydrogen();">
                                    <img src="img/delete.png" ng-click="removeHydrogen()">
                                </div> -->
                                <div class="btn-group dropdown pull-right"
                                    ng-if="!post.is_admin && (user.id == post.user)">
                                    <span data-toggle="dropdown" aria-expanded="false"><i
                                            class="fa fa-ellipsis-v f13 cursor" aria-hidden="true"></i></span>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="deletePost(key,post.id)"><i class="fa fa-trash m-r color_2 f13"
                                                    aria-hidden="true"></i>Delete post</a></li>
                                        <li><a ng-click="editPost(key,post)"><i class="fa fa-pencil m-r color_2 f13"
                                                    aria-hidden="true"></i>Edit post</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="m-t m-b text-justify">{{post.content}} </div>
                            <div class="m-t m-b text-justify">
                                <a class="color_2 m-xs pull-left" ng-repeat="(num,document) in post.documents"
                                    ng-href="{{IMGURL}}{{document.file}}" target="_blank"> Attachment {{ num + 1 }} -
                                    {{document.name}} </a>
                            </div>
                        </div>
                        <div class="w-full text-center bg-white wrapper-lg m-t-xxl"
                            ng-if="distributor.posts.length == 0">
                            <h4>No Posts Found</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>